@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #DDB7AB;
  text-align: center;
}

body{
  background-color: #F4EEED;
  padding: 10rem;
}
button{
  border: none;
  background: transparent;
  cursor: pointer;
}
input[type="text"]{
  border: none;
  background: none;
  overflow: hidden;
  padding: 1rem;
  font-size: 1.2rem;
  min-width:200px;
  width:80%;
  text-align: left;
  color: #F4EEED;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border:none;
}
/* 
.sub-display__status select {
  display: none; 
}

.select-selected {
  background-color: DodgerBlue;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}


.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}


.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
} */
.list{
  list-style-type:none;
  display: inline-flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  width: 80%;
  min-width: 350px;
  max-width: 700px;
}
.list__li{
  display: inline-flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background-color: white;
  width: 100%;
}
.list__li__i{
  font-size: 1.5rem;
  padding: 1rem;
}
.list__li__p{
  font-size: 1.3rem;
  min-width:130px;
  width:80%;
  text-align: left;
  padding: 1rem;
  word-break: break-all;
  white-space: normal;
}

.list__li__input{
  color: #DDB7AB;
  min-width:130px;
  width:80%;
  border-bottom:solid 1px #DDB7AB;
}

.list__li__input:focus {
  outline: none;
}

.dark--theme{
  background-color: #242526;
}

.dark--theme .list__li__input{
  color: white;
  outline-color: none;
  border-bottom:solid 0.5px #BB86FC;
}
.dark--theme .list__li{
  background-color: #282A2D;
}
.dark--theme .list__li__p, .dark--theme .list__li__i, .dark--theme .tasks__i{
  color: white;
}

.dark--theme .tasks{
  background: #282A2D;
}
.dark--theme .display{
  font-family: Josefin Sans, sans-serif;
  color:#BB86FC;
}
.dark--theme .mode__i, .dark--theme .mode button{
  color:white;
}

.tasks{
  font-size: 1.5rem;
  background: #DDB7AB;
  width: 80%;
  min-width: 350px;
  max-width: 700px;
  margin-bottom: 0.5rem;
  display: inline-flex;
  text-align: center;
  justify-content: space-between;
}

.tasks__i{
  color: #F4EEED;
  font-size: 1.2rem;
  font-size: 1.5rem;
  padding: 1rem;
}
.tasks__input:focus, .tasks__input:active{
  background: transparent;
  border:none;
  outline: none;
}
::placeholder{
  color: #F4EEED;
  font-size: 1.2rem;
  font-style: italic;
}

.dark--theme ::placeholder{
  color: white;
}

.display{
  font-family: 'Playfair Display', serif;
  color:#A5A58D;
  font-size: 45px;
  padding-bottom: 20px;
  min-width:350px;
}
.sub-display{
  background: #DDB7AB;
  width:80%;
  min-width: 350px;
  max-width: 700px;
  display: flex;
  margin: auto;
  margin-bottom: 5px;
}
.sub-display__count, .sub-display__select, .sub-display__clear{
  border: 1px solid #ccc;
  color:white;
  flex: 1;
}
/* .sub-display__status{
  border: 1px solid #ccc;
  flex: 1;
}
.sub-display__clear{
  border: 1px solid #ccc;
  flex: 1;
} */

.mode{
  position:absolute;
  top:0;
  right:0;
  padding: 10px;
} 
.mode__i {
  padding-right: 5px;
}
 