@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #DDB7AB;
  text-align: center;
}
body{
  background-color: #F4EEED;
  padding: 10rem;
}

ul{
  list-style-type:none;
  display: inline-flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  max-width: 700px;
}
ul i{
  font-size: 1.5rem;
  padding: 1rem;
}
ul p{

  font-size: 1.3rem;
  min-width: 520px;
  max-width: 520px;
  text-align: left;
  padding: 1rem;
  word-break: break-all;
  white-space: normal;
}
li{
  display: inline-flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background-color: white;
  width: 700px;
}
button{
  border: none;
  background: transparent;
}
input{
  border: none;
  background: none;
  overflow: hidden;
  padding: 1rem;
  font-size: 1.2rem;
  min-width: 520px;
  max-width: 520px;
  text-align: left;
  color: #F4EEED;
}
#addTaskContainer{
  font-size: 1.5rem;
  background: #DDB7AB;
  width: 700px;
  margin-bottom: 0.5rem;
  display: inline-flex;
  text-align: center;
  justify-content: space-between;
}

#addTaskContainer i{
  color: #F4EEED;
  font-size: 1.2rem;

  font-size: 1.5rem;
  padding: 1rem;
}

::placeholder{
  color: #F4EEED;
  font-size: 1.2rem;
  font-style: italic;
}
#addTask:focus, #addTask:active{
  background: transparent;
  border:none;
  outline: none;
}
